global
        log logstash    local0 #Change logstash to your naming
        log-send-hostname
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon
        maxconn 4000

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option redispatch
        retries 3
        timeout client 35s
        timeout server 60s
        timeout connect 5s
        timeout http-keep-alive 10s
#        contimeout 5000
#        clitimeout 50000
#        srvtimeout 50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

listen stats :9090
        balance
        mode http
        stats enable
        stats auth admin:admin

listen logstash-syslog-TCP-514      10.0.15.135:514
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:514 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:514 check

listen logstash-VMware-TCP-1514  10.0.15.135:1514
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:1514 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:1514 check

listen logstash-vCenter-TCP-1515  10.0.15.135:1515
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:1515 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:1515 check

listen logstash-Netscaler-TCP-1517  10.0.15.135:1517
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:1517 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:1517 check

listen logstash-eventlog-TCP-3515  10.0.15.135:3515
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:3515 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:3515 check

listen logstash-iis-TCP-3525  10.0.15.135:3525
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:3525 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:3525 check

listen logstash-redis-TCP-6379  10.0.15.135:6379
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:6379 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:6379 check

listen elasticsearch-TCP-9200 10.0.15.135:9200
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:9200 check
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:9200 check

listen elasticsearch-TCP-9300 10.0.15.135:9300
        mode tcp
        option tcpka
        option tcplog
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance roundrobin
        server pvl-esdata01.northamericanbancard.com pvl-esdata01.northamericanbancard.com:9300 check
        server pvl-esdata02.northamericanbancard.com pvl-esdata02.northamericanbancard.com:9300 check

listen kibana-http 10.0.15.135:80
        mode http
        stats enable
        stats auth admin:password # Change this to your own username and password!
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance source
        option httpclose
        option forwardfor except 10.0.15.135 # Change this to 10.0.101.62 (Or IP of second node) when setting up second node
        cookie JSESSIONID prefix indirect nocache
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:80 check cookie L1
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:80 check cookie L2

listen kibana-https 10.0.15.135:8443
        mode http
        stats enable
        stats auth admin:password # Change this to your own username and password!
        #balance leastconn - The server with the lowest number of connections receives the connection
        #balance roundrobin - Each server is used in turns, according to their weights.
        #balance source - Source IP hashed and divided by total weight of servers designates which server will receive the request
        balance source
        #option httpchk
        option httpclose
        option forwardfor except 10.0.15.135 # Change this to 10.0.101.62 (Or IP of second node) when setting up second node
        cookie JSESSIONID prefix indirect nocache
        server pvl-logstash01.northamericanbancard.com pvl-logstash01.northamericanbancard.com:8080 check cookie L1
        server pvl-logstash02.northamericanbancard.com pvl-logstash02.northamericanbancard.com:8080 check cookie L2